<div class="book col-sm-4 <%= book.isPaper() ? 'paper-book' : 'e-book' %>">
    <div class="book-cover">
        <img src="<%= book.getPictureUrl() %>" alt="<%= book.getTitle(locale) %>">
    </div>
    <div class="book-info">
        <div class="book-title-container">
            <h4 class="book-title"><span><%= book.getTitle(locale) %></span></h4>
        </div>
        <div class="book-desc">
            <%- _s.stripTags(book.getShortDesc(locale)) %>
        </div>
    </div>
    <div class="button-container">
        <a href="<%= baseUrl %>/books/<%= book.get('slug') %>" class="button with-icon more">
            <%=: 'common.more' | trans:locale %>
        </a>
    </div>
</div>