<div class="page page-home">

    <div class="block-container block-container-books col-lg-12">
        <div class="block">
            <h3 class="block-title"><%=: 'home.blocks.books.title' | trans:locale %></h3>
            <div class="block-content">
                <div class="row">
                    <% books.forEach(function (book) { %>
                        <% include ../partials/book-display %>
                    <% }) %>
                </div>
            </div>
        </div>
    </div><!-- end .books-container -->

    <hr>

    <div class="block-container block-main-content-container col-sm-8">
        <div class="block">
            <h3 class="block-title"><%=: 'home.blocks.books.title' | trans:locale %></h3>
            <div class="block-content main-content">
                <%-: 'home.intro' | trans:locale %>
            </div>
        </div>
    </div><!-- end .main-content-container -->

    <div class="sidebar-container col-sm-4">
        <div class="sidebar">
            sidebar
        </div>
    </div><!-- end .sidebar-container -->

</div><!-- end .page -->

<%- contentFor('stylesheets') %>
<link rel="stylesheet" href="<%= bowerComponentsUrl %>/slick.js/slick/slick.css">

<%- contentFor('footer') %>
&copy; layout corp.